<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Tickets</title>
        <style>
            th {
                border: 1px solid;
            }
            td {
                border: 1px solid;
            }
        </style>
    </head>
    <body>
        <h1>All Tickets</h1>
        <table>
            <tr>
                <th>Ticket ID</th>
                <th>Date Submitted</th>
                <th>Name</th>
                <th>Query Type</th>
                <th>Others(Specified)</th>
                <th>Severity</th>
                <th>Discription</th>
                <th>Status</th>
            </tr>
                <% for (let ticket of tickets){ %>
                <tr>
                    <td><%= ticket.ticketID %> </td>
                    <td><%= ticket.created_at %> </td>
                    <td><%= ticket.name %> </td>
                    <td><%= ticket.queryType %> </td>
                    <td><%= ticket.otherSpecify %> </td>
                    <td><%= ticket.severity %> </td>
                    <td><%= ticket.issueDiscription %> </td>
                    <td><%= ticket.status %> </td>
                    <td><a href="/tickets/<%= ticket._id %>/edit ">EDIT</a></td>
                    
                </tr>
                <% } %>
        </table>
        <form action="/logout" method="POST">
            <button>LOG OUT</button>
        </form>

    </body>
</html>