<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= tickets.ticketID %></title>
    </head>
    <body>
        <h1><%= tickets.ticketID %></h1>
        <h1><%= tickets.created_at %></h1>
        <h1><%= tickets.name %></h1>
        <h1><%= tickets.queryType %></h1>
        <h1><%= tickets.severity %></h1>
        <h1><%= tickets.issueDiscription %></h1>
    </body>
</html>